{% extends 'base.html.twig' %}

{% block title %}{{ 'home.menu.category'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        {% if app.user %}
            <a class="btn btn-dark mt-3" href="{{ path('category_add') }}">{{ 'category.add'|trans }}</a>
        {% endif %}

        {% if categories|length>0 %}
            {% for category in categories %}
                <div class="border border-secondary border-3 rounded my-3 py-2 px-2">
                    <h3>{{ category.name }}</h3>
                    <p>{{ category.description|slice(0, 400) ~ '...' }}</p>
                    <a class="btn btn-outline-dark" href="{{ path('category_view', {'id': category.id}) }}">View Subcategory</a>
                </div>
            {% endfor %}
            {{ knp_pagination_render(categories) }}
        {% else %}
            <div class="border border-secondary border-3 rounded my-3 py-2 px-2">
                <p>There is no category available to show.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}