{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">
        {% if app.user %}
            <a class="btn btn-dark mt-3" href="{{ path('thread_add') }}">{{ 'thread.add'|trans }}</a>
        {% endif %}

        <div class="border border-secondary border-3 rounded my-3 py-2 px-2">
            <h3>{{ subcategoryView.category.name }}</h3>
            <h4>{{ subcategoryView.name }}</h4>

            {% if subcategoryView.threads|length>0 %}
                {% for thread in subcategoryView.threads %}
                    <div class="border border-secondary border-2 rounded my-3 py-2 px-2">
                        <h5>{{ thread.subject }}</h5>
                        <h6>{{ thread.createdAt|date('H:s d-m-Y') }}</h6>
                        <a class="btn btn-outline-dark" href="{{ path('thread_view', {'id': thread.id}) }}">View Post</a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="border border-secondary border-2 rounded my-3 py-2 px-2">
                    <p>No thread avalaible to show.</p>
                </div>
            {% endif %}

        </div>

    </div>
{% endblock %}