{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">
        {% if postView|length>0 %}
        {% for displayPosts in postView %}

                <div class="border border-secondary border-2 rounded my-3 py-2 px-2">
                    <h5><a class="btn btn-secondary" href="{{ path('thread_view', {'id': displayPosts.thread.id}) }}">{{ displayPosts.thread.subject }}</a></h5>
                    <h6>{{ displayPosts.createdAt|date('H:s d-m-Y') }}</h6>
                    <p>{{ displayPosts.content }}</p>
                    <div>
                        <div>
                            <a href="{{ path('upvote_add', {'id' : displayPosts.id}) }}" class="text-decoration-none mx-2 btn btn-outline-dark" title="Upvote"><i class="fas fa-arrow-up"></i> {{ displayPosts.upvote }}</a>
                            <a href="{{ path('downvote_add', {'id' : displayPosts.id}) }}" class="text-decoration-none mx-2 btn btn-outline-dark" title="Downvote"><i class="fas fa-arrow-down"></i> {{ displayPosts.downvote }}</a>

                            <a href="{{ path('post_delete', {'id': displayPosts.id}) }}" class="text-decoration-none float-end btn btn-outline-danger" title="delete"><i class="far fa-trash-alt"></i></a>


                        </div>
                    </div>

                </div>
        {% endfor %}
        {% else %}
            <div class="border border-secondary border-2 rounded my-3 py-2 px-2">
                <p>No post avalaible to show.</p>
            </div>
        {% endif %}
        {{ knp_pagination_render(postView) }}
    </div>

{% endblock %}